.loginBG {
    width: 60%;
    height: 100vh;
    background-image: url('../../assets/images/landingBG.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}